@media(min-width: 768px) {
    .mobile-header {
        display: none;
    }

    .header {
        display: flex;
        background: var(--ion-color-light);
        padding-right: 50px;
        padding-left: 50px;
        height: 63px;
    }
}

@media(max-width: 768px) {
    .mobile-header {
        display: block;
    }

    .header {
        display: none;
    }
}

.active-link {
    border-bottom: 2px solid var(--ion-color-primary);
}
